# -*- mode: snippet; eval: (setq require-final-newline nil) -*-
# name: ldump
# key: ldump
# --
\Nordita\Shared\ConsoleLogger::getLogger()->debug('`(progn (require 'which-func) (or (which-function) \"global\"))`: $1', [\$$0]);