/custom.el
/eln-cache/
/elpa/
/etc/
/history
/projectile-bookmarks.eld
/transient/
/.lsp-session-v1
/lsp-cache/
/intelephense/
/projectile.cache
/recentf
/autosave/
/.dap-breakpoints
/.cache/
/.extension/
/tramp
/.mc-lists.el
/eclipse.jdt.ls/
/tree-sitter/
/workspace/
/org-roam.db
/projects
/.org-id-locations
/elpa.old/
/package-quickstart.el
/package-quickstart.elc
