# -*- mode: snippet -*-
# name: nordita-news-article
# key: nordita-news-article
# --
id: $0
template: news_article
parent: news-2026
path: /news-archive/news-2026/
title:
deleteAllowed: true
article_title:
article_show_in_highlights:
news_article_show_in_featured:
article_date: '2026-01-01'
article_author:
media_asset:
image_caption:
article_summary:
article_content:
components:
